* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(135deg, #0f94ff, #3fc8ff, #0068c9);
    background-attachment: fixed;
    color: #141414;
}



body>div {
    border: 1px solid red;
    margin-top: 20px;
}

#dv1 {
    height: 200px;
    width: 100%;
    border: 5px solid transparent;
    background-color: #041a2f;
    border-radius: 15px;
    position: relative;
}

#dv2 {
    height: 200px;
    width: 100%;
    border: 5px solid transparent;
    background-color: #041a2f;
    border-radius: 15px;
    position: relative;
    color: whitesmoke;
}

#dv3 {
    height: 200px;
    width: 100%;
    border: 5px solid transparent;
    background-color: #041a2f;
    border-radius: 15px;
    position: relative;
    color: whitesmoke;
    
}

#dv1>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: transparent;
    color: whitesmoke;
}

#dv1>div>label {
    color: whitesmoke;
    display: flex;
}

#dv1>div {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}


@keyframes glowing {
    0% { box-shadow: 0 0 5px #007bff, 0 0 10px #007bff; }
    50% { box-shadow: 0 0 10px #007bff, 0 0 20px #007bff; }
    100% { box-shadow: 0 0 5px #007bff, 0 0 10px #007bff; }
}


#setBtn {
    display: flex;
    padding: 8px 18px;
    margin: 10px auto;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    animation: glowing 1.5s infinite alternate;
}

#dv1>div>input {
    width: 100%;
    height: 25px;
    background-color: ;
    border-radius: 7px;
}


#dv2>div {
    display: flex;
    padding: 8px;
}

#dv2>div>input {
    border-radius: 10px;
}


#btn {
    display: flex;
    padding: 15px 18px;
    margin: 10px auto;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    animation: glowing 1.5s infinite alternate;
}


#dv3>h3 {
    display: flex;
    justify-content: center;
}

#dv3>pre {
    color: black;
}